@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #2d2d2d;
  --accent: #c5a059;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-off-white: #fdfbf7;
  --color-charcoal: #2d2d2d;
  --color-gold: #c5a059;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.bg-paper-grain {
  background-color: var(--background);
  background-image: radial-gradient(#2d2d2d 0.5px, transparent 0.5px), radial-gradient(#2d2d2d 0.5px, #fdfbf7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  opacity: 1;
}
